@{
    ViewBag.Title = "Casa Inactivo";
}

<h2>Casa Inactivo</h2>

<p>La casa con ID @ViewBag.IdCasa se encuentra inactivo y no puede ser editado.</p>

<a href="@Url.Action("Index", "GestionarCasas")" class="btn btn-primary">Regresar</a>
