@{
    ViewBag.Title = "Pago Cancelado";
}

<div class="alert alert-success">
    <h4>Pago cancelado exitosamente</h4>
    <p>El pago con ID <strong>@ViewBag.Id_Cobro</strong> ha sido eliminado exitosamente.</p>
</div>

<a href="@Url.Action("Index", "Empleado")" class="btn btn-primary">Regresar</a>

